@page "/administrative/employeeDetails/{employeeId:int}/{exitId:int}"
@inject IDbContextFactory<EmployeeManagerDbContext> ContextFactory
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager

<PageTitle>Излизане</PageTitle>

@if (Exit is not null)
{
    <EditForm Model="Exit" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>Служител: @Employee?.FirstName @Employee?.LastName</div>
        <br />
        <div class="col-md-8 border border-light">
            <h6 style="color:darkgray">Начало</h6>
            <br />
            <div class="pb-3 d-md-flex justify-content-md-between">
                <div class="d-md-flex">
                    <label for="startDate" class="form-label">Дата: </label>
                    <InputDate Type="InputDateType.Date" id="startDate" class="form-control" @bind-Value="Exit.Start"></InputDate>
                </div>
                <div class="d-md-flex">
                    <label for="startTime" class="col-form-label">Час: </label>
                    <InputDate Type="InputDateType.Time" id="startTime" class="form-control" @bind-Value="Exit.Start"></InputDate>
                </div>
                <br />
            </div>
        </div>
        <br />
        <div class="col-md-8 border border-light">
            <h6 style="color:darkgray">Край</h6>
            <br />
            <div class="pb-3 d-md-flex justify-content-md-between">
                <div class="d-md-flex">
                    <label for="startDate" class="form-label">Дата: </label>
                    <InputDate Type="InputDateType.Date" id="startDate" class="form-control" @bind-Value="Exit.End"></InputDate>
                </div>
                <div class="d-md-flex">
                    <label for="startTime" class="col-form-label">Час: </label>
                    <InputDate Type="InputDateType.Time" id="startTime" class="form-control" @bind-Value="Exit.End"></InputDate>
                </div>
                <br />
            </div>
        </div>
        <br />
        <div class="col-md-8 d-md-grid gap-md-5 d-md-flex justify-content-md-start">
            <button type="submit" class="btn btn-sm btn-outline-primary">Запази</button>
            <button type="button" class="btn btn-sm btn-outline-danger">Изтрий</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" @onclick="HandleCancel">Затвори</button>
        </div>
    </EditForm>
}



@code {
    [Parameter]
    public int EmployeeId { get; set; }

    [Parameter]
    public int ExitId { get; set; }

    private Exit? Exit { get; set; }

    private Employee? Employee { get; set; }

    private int Month { get; set; }

    private DateOnly StartDate { get; set; }
    private TimeOnly StartTime { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        Month = StateContainer.Month;
        await LoadData();
    }

    private async Task LoadData()
    {
        using var context = ContextFactory.CreateDbContext();

        //може и да не е необходимо
        Exit = await context.Exits.FirstOrDefaultAsync(ex => ex.Id == ExitId);

        Employee = await context.Employees
                                .Include(emp => emp.WorkingDays)
                                .Include(emp => emp.Exits)
                                .FirstOrDefaultAsync(emp => emp.Id == EmployeeId);
    }

    private async Task HandleValidSubmit()
    {

    }

    private void HandleInvalidSubmit()
    {

    }

    private void HandleCancel()
    {
        NavigationManager.NavigateTo($"/administrative/employeeDetails/{EmployeeId}");
    }
}